.box {
    /* background-image: repeating-linear-gradient(45deg, rgba(red, 0.25), rgba(red, 0.25) 35px, rgba(white, 0.25) 35px, rgba(white, 0.25) 70px); */
    background: red;
    background-size: 99px 99px; /* This is unique for this background, need to find a pattern and develop a formula */
    animation: slide 10s infinite linear forwards;
}

@keyframes slide {
    from { background-position: 0% 0; }
    to { background-position: 100% 0; }
}