body {
  font-family: "Montserrat", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "a-otf-midashi-go-mb31-pr6n", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #1D284D;
  background-color: #fff;
  font-feature-settings: "palt";
  letter-spacing: .1em;
}